<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.geoApp"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>geoApp</name>

    <description>
        Practica de Geolocaliacion 
    </description>

    <author href="http://www.laitaliana.com.mx" email="moneoc@gmail.com">
        Mr. Van Verwest
    </author>

    <preference name="phonegap-version" value="3.7.0" />
    
	<gap:plugin name="org.apache.cordova.geolocation" />
	
	<icon src="'icon.png'" platform="android" />
</widget>